.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.app-header {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  flex-grow: 1;
  background-color: #6a9ed9;
  padding: 0 2%;
}

.app-content {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  flex-grow: 18;
  padding: 0 2%;
}

.app-footer {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  flex-grow: 1;
  background-color: #6a9ed9;
  padding: 0 2%;
}




